{% extends 'base.html' %}

{% load static %}
{% load my_filters %}

{% block css_additional%}

    <link rel="stylesheet" href=" {% static 'horoscope/css/info.css' %}" >

{% endblock %}

{% block title%}

    Гороскоп для {{ sign|capfirst }}

{% endblock %}

{% block content%}

    {% include 'includes/navbar.html' %}

    <h1> {{ description|split|first }} </h1>

    {% if description is None %}
        <h2>Неверно указан знак зодиака - {{ sign|capfirst }}</h2>
    {% else %}
        <h2>{{ description }}</h2>
    {% endif %}

{% endblock %}
